/* Color Scheme atelier dune */
/* by bram de haan (http://atelierbramdehaan.nl) */

.mlight-bg { background: #20201d; }
.mlight-strnum { color: #292824; }
.mlight-select::selection,
.mlight-select::-moz-selection { background: #6e6b5e; }
.mlight-comment { color: #7d7a68; }
.mlight-codepanel { background: #999580; }
.mlight-fg { color: #a6a28c; }
.mlight-oper { color: #a6a28c; }
.mlight-var { color: #d73737; }
.mlight-diff-d { color: #d73737; }
.mlight-const { color: #b65611; }
.mlight-class { color: #ae9513; }
.mlight-str { color: #60ac39; }
.mlight-diff-i { color: #60ac39; }
.mlight-esc { color: #1fad83; }
.mlight-func { color: #6684e1; }
.mlight-kw { color: #b854d4; }
.mlight-diff-c { color: #b854d4; }
.mlight-embed { color: #d43552; }
